.b-project
  margin: 40px 0

  @include respond-to('md-desktop')
    margin: 20px 0

  @include respond-to('tablet-landscape')
    margin: 20px 0

  @include respond-to('tablet')
    margin: 20px 0

  @include respond-to('sm-tablet-landscape')
    margin: 20px 0

  @include respond-to('sm-tablet')
    margin: 20px 0
  
  @include respond-to('iphone-landscape')
    margin: 20px 0

  @include respond-to('iphone')
    margin: 15px 0

  h1
    font-size: 22px
    color: #000
    letter-spacing: 0.41px

    @include respond-to('iphone-landscape')
      margin: 0 

  h2
    font-size: 18px
    color: #4a4a4a
    letter-spacing: 0.33px
    font-weight: 100

.b-project__header
  display: flex
  align-items: center
  justify-content: space-between

  @include respond-to('md-desktop')
    margin-bottom: 15px

  @include respond-to('tablet-landscape')
    margin-bottom: 15px

  @include respond-to('tablet')
    margin-bottom: 15px

  @include respond-to('sm-tablet-landscape')
    margin-bottom: 15px

  @include respond-to('sm-tablet')
    flex-wrap: wrap

    .b-project__header-title
      flex-basis: 100%

      h2
        margin-bottom: 15px
        
    .b-project__actions
      align-items: center
      display: flex
      flex-basis: 100%
      justify-content: space-between
      margin-bottom: 15px

  @include respond-to('iphone-landscape')
    margin-bottom: 10px  

  @include respond-to('iphone')
    flex-wrap: wrap

    .b-project__header-title
      flex-basis: 100%

      h2
        margin-bottom: 15px
    
    .b-project__actions
      align-items: center
      display: flex
      flex-basis: 100%
      justify-content: space-between
      margin-bottom: 15px
  
.b-project__selection-toggle
  background: $green

  &:focus
    box-shadow: 0 0 0 3px rgba(1,217,147,0.5)

.b-project__images
  display: flex
  flex-wrap: wrap
  justify-content: flex-start

.b-image__item
  margin: 20px 25px
  position: relative
  height: 250px
  width: 250px

  img
    position: relative

  @include respond-to('md-desktop')
    padding: 0
    margin: 0 10px 20px 10px
    height: auto
    width: calc(25% - 20px)

    img
      width: 100%

  @include respond-to('tablet-landscape')
    padding: 0
    margin: 0 10px 20px 10px
    height: auto
    width: calc(25% - 20px)

    img
      width: 100%

  @include respond-to('tablet')
    padding: 0
    margin: 0 10px 20px 10px
    height: auto
    width: calc(33.33% - 20px)

    img
      width: 100%

  @include respond-to('sm-tablet-landscape')
    padding: 0
    margin: 0 10px 20px 10px
    height: auto
    width: calc(33.33% - 20px)

    img
      width: 100%

  @include respond-to('sm-tablet')
    padding: 0
    margin: 0 10px 20px 10px
    height: auto
    width: calc(50% - 20px)

    img
      width: 100%

  @include respond-to('iphone-landscape')
    padding: 0
    margin: 0 10px 20px 10px
    height: auto
    width: calc(50% - 20px)

    img
      width: 100%

  @include respond-to('iphone')
    padding: 0
    margin: 0 10px 20px 10px
    height: auto
    width: calc(50% - 20px)

    img
      width: 100%

  &.is-selected
    position: relative

    &::before
      content: ''
      background: rgba(255, 255, 255, 0.5)
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      z-index: 1

    &::after
      content: ''
      background: url('../images/download.svg') no-repeat 50% 50%
      border-radius: 25px
      transition: all ease-in 0.2s
      transform: translateX(-50%) translateY(-50%)
      top: 50%
      height: 85px
      position: absolute
      left: 50%
      width: 85px
      z-index: 10

.b-image__item-link__preview
  outline: none

.b-image__check
  background: url('../images/check.svg') no-repeat 50% 50%
  border-radius: 25px
  transition: all ease-in 0.2s
  top: 5px
  height: 45px
  position: absolute
  right: 5px
  width: 45px

  &.is-selected
    background: url('../images/check-active.svg') no-repeat 50% 50%

.b-image__item-label
  transition: all ease-in 0.2s
  cursor: pointer

.b-image__item-input
  display: none
  visibility: hidden

.b-image__item-input:checked + label
  border-radius: 2px

  img
    border: 5px solid $blue
    margin: -5px