*.pid
*.sql
*.swo
*.swp
*.DS_Store
*.rdb
.env
/.bundle
/.capistrano
/config/cable.yml
/config/database.yml
/config/settings.yml
/config/secrets.yml
/coverage/
/db/*.sqlite3
/log/*.log
/log/*.log.lck
/tmp
/vendor/bundle
/vendor/cache/
public/posters/
public/recipes/
public/uploads/
public/test_uploads/
public/*.zip
public/assets/
public/packs/
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
